<div id="welcome">
  <h2>Browse by</h2>
  <h3>Browse patch by files, authors, etc.:</h3>

  <ul class="links">
    <li><a href="/files">Files</a></li>
    <li><a href="/authors">Authors</a></li>
  </ul>
</div>
