body {
    background-color: #B8BEC0;
    color: #333333;
    font-family: "Lucida Grande","Bitstream Vera Sans","Verdana";
    font-size: 13px;
    max-width: 100%;
    max-width: 75%;
    padding: 0% 10%;
}

#sidebar h3 {
    border-bottom: 1px solid #CCCCCC;
}

li {
    list-style-type: none;
}

#document {
    width: 85%;
    float: left;
    background-color: #E6F0F2;
}

#content {
    padding: 1%;
}

#sidebar {
    width: 15%;
    float: right;
}

#welcome {
    padding: 5% 25%;
}

#header {
    padding: 0 20%;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
}
#header h2 {
    font-size: 100%;
}

#footer {
    clear: both;
    font-family: sans-serif;
    font-size: 10px;
    padding-right: 160px;
    padding-top: 2em;
    text-align: center;
}

#filepath-list, author-list {
    padding: 1%;
    width: auto;
}

div.filepath {
    position: relative;
    margin: 5px 0;
}

div.filepath, div.author {
    position: relative;
    margin: 5px 0;
}

div.patch {
    position: relative;
    margin: 5px 0;
}

.ui-accordion-header {
    padding: 0 2em;
}

.ui-accordion-content, .ui-widget-content {
    background: #F1FAFA;
}
.ui-accordion-header-active, .ui-widget-content .ui-state-active {
    background: #D3D3D3;
}

div.patch .ui-accordion-content {
    padding: 0;
}

div.patch h3 {
    margin: 5px 0 0;
    text-align: center;
}

div.patch pre {
    margin: 0;
    padding: 0;
}

span.infos {
    margin: 0;
    padding: 0;
    position:absolute;
    top: 0px;
    right: 2px;
    z-index: 9999;
    min-width: 15%;
}
.num_lines_added {
    position: relative;
    padding: 2px 0;
    float: left;
}
.num_lines_added:after {
    content: "\00a0";
}
.num_lines_deleted {
    position: relative;
    padding: 2px 0;
    float: right;
}
.num_lines_added span.ui-icon {
    float: left;
}
.num_lines_deleted span.ui-icon {
    float: right;
}
.tools {
    padding: 0 1%;
}

.tools span.filepath-sort-by {
    float: right;
}
.tools span.sort-by {
    cursor: pointer;
}
.tools span.sort-by {
    float: right;
}
.tools span.sort-by-add {
    float: right;
}
.tools span.sort-by-del {
    float: right;
}
